

/**
 * IMAGE SCALE
 */

img, video {
  max-width: 100%;
  vertical-align: left;
}


/**
 * GALLERY RESIZE
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



/**
 * GALLERY WRAPPER
 */

.wrapper {
  display: block;
  margin-top: 15px;
  margin-left:  0;
  margin-right: auto;
  padding-right: 1.5em;
  padding-left: 0.75em;
  max-width: 1080px;
}


/**
 * GALLERY Grid
 */
.lab-grid {
  width: 100%;
}

.lab-grid .lab-grid-cell {
  margin-bottom: 1.5em;
}

.lab-grid .lab-grid-cell--mb-2x {
  margin-bottom: 3em;
}

.lab-grid-cell {
  padding-left: 0;
}

.w-full {
  width: 100%;
}

.w-three-quarters {
  width: 75%;
}

.w-two-thirds {
  width: 66.66666%;
}

.w-half {
  width: 50%;
}

.w-third {
  width: 33.33333%;
}

.w-quarter {
  width: 25%;
}

