@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

/* Fonts */
:root {
  --default-font: "Quicksand", sans-serif;
  --heading-font: "Quicksand", sans-serif;
  --nav-font: "Quicksand", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #000000; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #000000; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #706f6f;  /* The default color of the main navmenu links */
  --nav-hover-color: #000000; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #000000; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #000000; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}


/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  position: sticky;
  top: 0;
  color: var(--default-color);
  background-color: #ffffff;
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 50px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 10px;
  font-weight: 700;
  color: var(--heading-color);
}

 /*____________
  The sidepanel menu 
------------*/

div.sidebar {
                width: 0;            
                height: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: #ffffff;
                overflow-x: hidden;
                transition: 0.3s;
                padding-top: 0px;
            }

            div.sidebar a {
                display: block;
                padding: 8px 8px 4px 32px;
                text-decoration: none;
                font-size: 18px;
                color: #000000;
                transition: 0.5s;
            }

            #main .openbtn {
                font-size: 30px;
                position: fixed;
                top: 10px;
                right: 10px;
                cursor: pointer;
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                padding: 5px 5px;
                border: none;
            }

            div.sidebar .closebtn {
                position: sticky;
                top: 0px;
                right: 0px;
                font-size: 40px;
            }

            div.sidebar a:hover {
              background-color: #F2BCED;  
              color: #3e3e3e;
            }

            #main .openbtn:hover {
                color: #F2BCED;
            }

            #main {
                transition: margin-left .5s;
                padding: 0px;
            }

            /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
            @media screen and (max-height: 450px) {
                div.sidebar {padding-top: 15px;}
                div.sidebar a {font-size: 18px;}
            }




/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
}

.footer .copyright p {
  margin: 10px;
}


.footer .credits {
  margin: 20px;
  font-size: 13px;
  text-align: center;
}


/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 40px 0;
  text-align: flex-start;
  position: relative;
}

.page-title h1 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  max-width: 800px;
  padding: 0px 0;
  scroll-margin-top: 30px;
  overflow: clip;
  margin: 10px; 0px; 0px; 0px;
  text-align: left;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 20px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.about .content ul {
  list-style: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.about .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: normal;
  margin-right: auto;
  margin-left: auto;
}

.about .content ul strong {
  margin-right: auto;
  margin-left: auto;
}

.about .content ul i {
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  color: var(--accent-color);
  line-height: 0;
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 1000px) {
  .contact {
    background-position: center 0px;
    background-size: contain;
  }
}

.contact:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.contact .info-item+.info-item {
  margin-top: 40px;
}

.contact .info-item i {
  background: var(--accent-color);
  color: var(--contrast-color);
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

